.numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34.1rem;
  margin-bottom: 13.3rem;

  @media screen and (max-width: 915px) {
    flex-direction: column;
    gap: 88px;
  }
}
